<div id="my-dinner" class="col-sm-3 full-height">
	<h3>My Dinner</h3>
	<div>
		<label for="number-of-guests">People</label>
		<input type="number" min="1" step="1" name="People" id="number-of-guests" ng-model="numberOfGuests" ng-change="setNumberOfGuests(numberOfGuests)"/>
	</div>
	<div id="menu-head" class="row th">
		<div class="col-sm-3 dinner-col">
			Dish
		</div>
		<div class="col-sm-6 dinner-col">
			Name
		</div>
		<div class="col-sm-3 dinner-col">
			Cost
		</div>
	</div>
	<div id="menu">
		<div id="menu-starter"></div>
		<div id="menu-main"></div>
		<div id="menu-dessert"></div>
	</div>
	<div id="pending" class="row">
		<div class="col-sm-3 dinner-col">
		</div>
		<div class="col-sm-6 dinner-col">
			Pending
		</div>
		<div class="col-sm-3 dinner-col">
			<span id="pending-dish">0.00</span>
		</div>
	</div>
	<hr>
	<div class="right-aligned">
		SEK <span id="total-cost">
			</span>
	</div>
	<a ng-href="#/home" id="confirm-dinner-btn" class="btn btn-default btn-lg" type="button" disabled>Confirm dinner</a>
</div>
<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
Total number of guest: {{getNumberOfGuests()}}