<div id="my-dinner" class="col-sm-3 full-height">
	<h3>My Dinner</h3>
	<div>
		<label for="number-of-guests">People</label>
		<input type="number" min="1" step="1" name="People" id="number-of-guests" ng-model="numberOfGuests" ng-change="setNumberOfGuests(numberOfGuests)"/>
	</div>
	<div id="menu-head" class="row th">
		<div class="col-sm-3 dinner-col">
			Dish
		</div>
		<div class="col-sm-6 dinner-col">
			Name
		</div>
		<div class="col-sm-3 dinner-col">
			Cost
		</div>
	</div>
	<div id="menu">
		<div class="row menu-item" ng-repeat="dish in getFullMenu()">
			<span title="Remove" class="remove" ng-click="removeDishFromMenu(dish.RecipeID)">X</span>
			<a class="menu-link" ng-href="http://localhost:8000/#/dish/{{dish.RecipeID}}">
				<div class="col-sm-3 dinner-col">
					{{dish.RecipeID}}
				</div>
				<div class="col-sm-6 dinner-col">
					{{dish.Title}}
				</div>
				<div class="col-sm-3 dinner-col">
					{{getDishPrice(dish)}}
				</div>
			</a>
		</div>
	</div>
	<div id="pending" class="row" ng-controller="DishCtrl">
		<div class="col-sm-3 dinner-col">
		</div>
		<div class="col-sm-6 dinner-col">
			Pending
		</div>
		<div class="col-sm-3 dinner-col">
			<span id="pending-dish">
				<span ng-if="dish">
					{{getDishPrice(dish)}}
				</span>
				<span ng-if="dish == null">
					0
				</span>
			</span>
		</div>
	</div>
	<hr>
	<div class="right-aligned">
		SEK {{getTotalMenuPrice()}}
	</div>
	<a ng-href="#/overview" ng-disabled="getTotalMenuPrice() == ''" id="confirm-dinner-btn" class="btn btn-default btn-lg" type="button">Confirm dinner</a>
</div>
<!-- TODO in Lab 5: Display the items on the menu with cost for each -->
