<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<div id="selected-dish" class="col-sm-9">
	<div id="selected-dish-col" class="col-sm-6 full-height">
		<div id="dish-status">{{status}}</div>
		<div id="selected-dish-head">
			<h3 id="selected-dish-name"><span>{{dish.Title}}</span></h3>
			<img ng-src="{{dish.ImageURL}}" alt="{{dish.Title}}">
			<div id="selected-descr"><p>{{dish.Description}}</p></div>
		</div>
		<div class="">
			<a ng-href="#/search" id="back-btn" class="arrow-box" type="button">Back to Select Dish</a>
		</div>
		<h3>Preparation</h3>
		<div id="selected-prep"><pre>{{dish.Instructions}}</pre></div>
	</div>
	<div class="col-sm-6 full-height no-side-padding">
		<div id="ingredients-table">
			<h5><b>INGREDIENTS FOR <span id="number-of-guests-2">{{getNumberOfGuests()}}</span> PEOPLE</b></h5>
			<hr>
			<div id="listOfIngredients">
				<div ng-repeat="ingredient in dish.Ingredients" class="row">
					<div class="col-sm-2 ingredient-info">
						{{getIngredientPrice(ingredient)}} {{ingredient.MetricUnit}}
					</div>
					<div class="col-sm-5 ingredient-info">
						{{ingredient.Name}}
					</div>
					<div class="col-sm-2 ingredient-info">
						SEK
					</div>
					<div class="col-sm-3 ingredient-info">
						{{getIngredientAmount(ingredient)}}
					</div>
				</div>
			</div>
			<hr>
			<div class="row" id="table-total">
				<div ng-controller="DinnerCtrl" class="col-sm-7 ingredient-info">
					<a ng-href="#/search" ng-click="addDishToMenu(dish)" id="confirm-dish-btn" class="btn btn-default btn-lg" type="button">Confirm Dish</a>
				</div>
				<div class="col-sm-2 ingredient-info">
					SEK
				</div>
				<div id="dish-price" class="col-sm-3 ingredient-info" ng-cloak>
					{{getDishPrice(dish)}}
				</div>
			</div>
		</div>
	</div>
</div>