<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<div id="first-screen-bg"/>
<div id="start-message">
	<h1>A Home Dinner Service</h1>
	<hr>
	<p>
		Welcome to HOMELETTE!<br>
		See my vest, see my vest,
		made from real gorilla chest,
		feel this sweater, there's no better
		than authentic Irish setter.
		<br>
		See this hat, 'twas my cat,
		my evening wear - vampire bat,
		these white slippers are albino
		African endangered rhino.
	</p>
	<span id="start-quickly">start quickly</span>
	<a href="#/search" id="new-dinner-btn" class="btn btn-default btn-lg">Create new dinner</a>
</div>